<ul>
  <li *ngFor="let book of books"><a href="book/view/{{book.Id}}">{{book.Title}}</a><button (click)="delete(book.Id)">Delete</button></li>
</ul>

<select [(ngModel)]="selectedBook">
  <option *ngFor="let book of books" [ngValue]="book" >{{book.Title}}</option>
</select>
<div *ngIf="selectedBook">{{selectedBook.Title}}</div>

<a href="book/add">AddBook</a>
<button (click)="goToNewBook()">AddNewBook</button>