<!--<p>
  title: {{ title }}
</p>

<input [(ngModel)]="title"/>-->
<!--<input [value]="title" (keyup)="sayTitle()"/>-->
<!--<button (click)="sayTitle()">Alarm</button>-->

<!--<ul>
  <li *ngFor="let book of books"><span (click)="selectBook(book.Id)">{{book.Title}}</span><button (click)="delete(book.Id)">Delete</button></li>
</ul>-->

<div *ngIf="book">
  <span>Id: {{book.Id}}</span><br>
  <span>Title: {{book.Title}}</span><br>
  <span>PublishYear: {{book.PublishYear}}</span><br>
  <span>AuthorId: {{book.AuthorId}}</span><br>
</div>

<a href="book/edit/{{book.Id}}">EDIT</a>
<button (click) = "goBack()">BACK</button>

<!--<div *ngIf="book">
  <span>Id: </span><br>
  <input [(ngModel)]="book.Id"/><br>
  <span>Title: </span><br>
  <input [(ngModel)]="book.Title"/><br>
  <span>PublishYear: </span><br>
  <input [(ngModel)]="book.PublishYear"/><br>
  <span>AuthorId: </span><br>
  <input [(ngModel)]="book.AuthorId"/><br>
  <button (click)="save(book)">Save</button>
</div>-->