<h1>Add Book</h1>
  <span>Id: </span><br>
  <input [(ngModel)]="book.Id"/><br>
  <span>Title: </span><br>
  <input [(ngModel)]="book.Title"/><br>
  <span>PublishYear: </span><br>
  <input [(ngModel)]="book.PublishYear"/><br>
  <span>AuthorId: </span><br>
  <input [(ngModel)]="book.AuthorId"/><br>
  <button (click)="save(book)">Save</button>

<a href="/">Back To List</a>
