<div *ngIf="book">
  <span>Id: </span><br>
  <input [(ngModel)]="book.Id"/><br>
  <span>Title: </span><br>
  <input [(ngModel)]="book.Title"/><br>
  <span>PublishYear: </span><br>
  <input [(ngModel)]="book.PublishYear"/><br>
  <span>AuthorId: </span><br>
  <input [(ngModel)]="book.AuthorId"/><br>
  <button (click)="save(book)" [disabled]="!(book.Title && book.Id)">Save</button>
</div>

<a href="/">Back To List</a>